<html>
<head>
<title>Residential Application</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Login.css">
<body>
    <div class="loginbox">
    <img src="/Images/ug-logo.png" class="ug-logo">
        <h1>Student Residential Application</h1>
        <form action="/users/login" method="POST">
            <p>Student ID</p>
            <input type="text" id="studentID" name="studentID" placeholder="Enter ID" required>
            <p>Student Pin</p>
            <input type="password" id="password" name="password" placeholder="Enter Pin" required>
            <input type="submit" name="" value="login">
        </form>
        
    </div>
</body>
</head>
</html>